.cart-page {
	font-size: 18px;
	color: #acacac;
}
.cart-title {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	width: 100%;

	line-height: 64px;
	border-bottom: 1px solid #434343;
}
.cart-tit {
	width: 12vw;
	text-align: center;
}
.cart-tit:first-of-type {
	flex: 1;
}
.cart-tit:last-of-type {
	width: 80px;
}

.cart-item {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	height: 10em;
	padding: 2em 0;
	border-bottom: 1px solid #434343;
}
.cart-item > * {
	width: 12vw;
	line-height: 120px;
	text-align: center;
}
.item-info {
	text-align: left;
}
.cart-item a {
	color: #fff;
}
.item-info div {
	position: relative;
	z-index: 10;
	float: left;
	width: 100px;
	height: 120px;
	text-align: center;
}
.item-info img {
	float: left;
	max-width: 120px;
	max-height: 120px;
	margin-right: 50px;
}
.item-name,
.item-remark {
	position: relative;
	top: .5em;
	font-size: 20px;
	line-height: 2;
}
.item-remark {
	font-size: 16px;
	font-weight: 100;
}
.item-number {
	color: #6c6c6c;
}
.item-number-input {
	width: 2em;
	color: inherit;
	text-align: center;
	border: 0 none;
	background: transparent;
	outline: 0 none;
}
.item-number .item-num-modify {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 16px;
	text-align: center;
	color: inherit;
	border: 1px solid #434343;
	border-radius: 50%;
	cursor: pointer;
}
.remove-item {
	width: 80px;
	-ms-text-align-last: auto;
	text-align-last: auto;
}

.total {
	float: right;
	margin-top: 35px;
}
.total-price {
	display: block;
	margin-bottom: 1em;
	font-size: 18px;
}
.total-price span {
	float: right;
	font-weight: 700;
}
