@charset "utf-8";

*, ::before, ::after {
	box-sizing: border-box;
}
html {
	font-size: 14px;
	color: #fff;
}
body {
	min-height: 100vh;
	background-color: #242424;
}
body,
h1,
h2,
h3,
p,
ul,
ol {
	margin: 0;
}
a, li {
	text-decoration: none;
	outline: 0 none;
}
ul, ol, li {
	padding: 0;
	list-style: none;
}
img {
	max-width: 100%;
}

.clear {
	display: table;
	height: 0;
	clear: both;
}
.clrfix::before,
.clrfix::after {
	content: '\0020';
	display: block;
	clear: both;
	height: 0;
}
.show-sm {
	display: none !important;
}
.item-num-modify {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.space-bg {
	background-image: url("../img/backgound-img.png");
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-position-x: 0;
	background-position-y: top;
	-webkit-animation: starbg 60s infinite linear;
	animation: starbg 60s infinite linear;
}
@keyframes starbg {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: -100vw;
	}
}
.page-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
.logo {
	position: relative;
	top: 60px;
	left: 60px;
	height: 92px;
	background: rgb(36, 36, 36);
}
.page-navigation {
	position: fixed;
	top: 50%;
	left: 45px;
	margin-top: -146px;
}
.page-navigation li {
	margin-bottom: 50px;
}
.page-navigation li:last-of-type {
	margin-bottom: 0;
}
.page-navigation a {
	display: block;
	width: 50px;
	padding: 0 15px;
	font-size: 16px;
	line-height: 2;
	color: #acacac;
	border-left: 1px solid transparent;
	transform: translate(0);
	text-shadow: 1px 1px 2px #242424;
	cursor: pointer;

	transition: transform .2s ease;
}
.page-navigation .active a,
.page-navigation li:hover a {
	border-left: 1px solid #fff;
	transform: translate(15px);
	color: #fff;
}
.letter-spacing {
	display: none;
}
.page-navigation .go-login {
	position: fixed;
	right: 60px;
	top: 45px;
	width: auto;
	font-size: 16px;
	line-height: 1.5;
	color: #bfbfbf;
	text-shadow: 1px 1px 2px #242424;
}
.page-navigation .go-login:hover {
	color: #fff;
}
.page-btn {
	display: block;
	width: 15em;
	margin-bottom: 1em;
	font-size: 16px;
	line-height: 3em;
	text-align: center;
	letter-spacing: .2em;
	color: #c5c5c5;
	border-radius: 1.5em;
	box-shadow: 0 0 3px 1px rgba(255, 255, 255, .3);
}

.main {
	min-height: 100vh;
	padding: 200px 100px 120px 200px;

	opacity: 0;
	animation: show_main .5s 1 ease-in forwards;
}
@keyframes show_main {
	0% {}
	100% {
		opacity: 1;
	}
}
.pagination {
	align-self: flex-end;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.nav-btn {
	display: block;
	position: relative;
	right: 0;
	left: 0;
	width: 50px;
	height: 50px;
	margin-top: 37px;
	border: 2px solid #444;
	border-radius: 50%;
	background-size: 25px;
	background-position: center center;
	background-repeat: no-repeat;
}
.nav-btn:hover {
	border-color: #fff;
}
.cart {
	background-image: url('../img/cart.png');
}
.cart:hover {
	background-image: url('../img/cart-on.png');
}
.next {
	background-image: url('../img/next.png');
}
.next:hover {
	background-image: url('../img/next-on.png');
}
.prev {
	background-image: url('../img/prev.png');
}
.prev:hover {
	background-image: url('../img/prev-on.png');
}
.swiper-button-disabled {
	opacity: .5;
	pointer-events: none;
}

.buy-btn {
	float: right;
	width: 8em;
	font-size: 18px;
	line-height: 2.2;
	text-align: center;
	color: #fff;
	background-color: #ff9333;
	border-radius: .5em;
}

.page-navigation .user-panel {
	position: fixed;
    right: 75px;
    top: 55px;
    height: 66px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	width: auto;
	padding: 0;
    padding-right: 76px;
    text-align: right;
}
.user-panel .user-avatar {
	position: absolute;
	right: 0;
	top: 0;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	border: 1px solid #a2a2a2;
}
.user-panel .user-name {
    font-size: 18px;
    line-height: 2;
}
.user-panel .member-page {
	font-size: 14px;
}

.item-info {
	position: relative;
	display: block;
	flex: 1;
	text-align: left;
}
.checkbox {
	opacity: 0;
}
.checkbox-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	margin: -10px;
	border: 2px solid #a0a0a0;
	border-radius: 50%;
}
.checkbox-icon::before {
	content: '\0020';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	margin: -5px;
	border-radius: 50%;
}
.checkbox:checked + .checkbox-icon::before {
	background: #a0a0a0;
}

.copyright {
	display: block;
	padding: 20px 0;
	font-size: 12px;
	font-weight: 100;
	text-align: center;
	color: #fff;
}

.user-panel + .go-login {
	display: none;
}

.page-footer {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 0);
}
.commodity-layer {
	position: fixed;
	opacity: 0;
	z-index: 500;
	background-color: #242424;
	border: 1px solid #454545;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
}
.commodity-layer.status-end {
	animation: status_end .7s 1 ease forwards;
}
@keyframes status_end {
	0% {}
	100% {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}