.main {
	padding: 0;
}
.page-swiper.swiper-container {
	width: 100vw;
	height: 100vh;
}
.swiper-container-vertical>.swiper-pagination-bullets {
	right: 50px;
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 20px auto;
}
.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	background: #666;
	border-radius: 4px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	opacity: 1;
	outline: none;
}
.swiper-pagination-bullet-active {
	width: 1px;
	height: 30px;
	background: #ddd;
	border-radius: 0;
}
.page-slide {
	padding: 200px 105px 200px 145px;
}

.banner {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;
	background-image: url('../img/banner.png');
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-position: bottom center;
	background-repeat: no-repeat;
}
.banner-decoration {
	position: fixed;
	width: 30px;
	height: 35px;
}
.banner-decoration::before,
.banner-decoration::after {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	animation-name: rotate_dec;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 5s;
}
.banner-decoration::before {
	content: '\0020';
}
.banner-decoration::after {
	content: '\0020';
	bottom: 25px;
	left: 5px;
}
.banner-decoration:nth-of-type(1) {
	top: 30vh;
	left: 25vw;
}
.banner-decoration:nth-of-type(1)::before {
	background-image: url('../img/dec-1.png');
	animation-direction: reverse;
}
.banner-decoration:nth-of-type(2) {
	right: 23vw;
	bottom: 37vh;
}
.banner-decoration:nth-of-type(2)::before {
	background-image: url('../img/dec-2-1.png');
}
.banner-decoration:nth-of-type(2)::after {
	content: '\0020';
	left: -5px;
	background-image: url('../img/dec-2-2.png');
}
.banner-decoration:nth-of-type(3) {
	top: 13vh;
	right: 31vw;
}
.banner-decoration:nth-of-type(3)::before {
	background-image: url('../img/dec-3.png');
}

@keyframes rotate_dec {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.slogan {
	position: relative;
	bottom: 20px;
	font-size: 20px;
	line-height: 2;
	font-weight: 100;
	text-align: center;
	letter-spacing: 1em;
	color: #bfbfbf;
	transition: all .8s ease;
}
.swiper-slide-prev .slogan {
	bottom: 200px;
}

.slogan span {
	position: relative;
	display: block;
	-webkit-transform: perspective(400px) rotateX(90deg);
	transform:perspective(400px) rotateX(90deg);
	-webkit-animation-name:flipInX;
	-webkit-backface-visibility:visible !important;
	animation-name:flipInX;
	backface-visibility:visible !important;
	-webkit-animation-duration:1s;
	-webkit-animation-fill-mode:both;
	animation-duration:1s;
	animation-fill-mode:both;
}
.slogan span + span {
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}
@-webkit-keyframes flipInX {
	0%{
		-webkit-animation-timing-function:ease-in;
		-webkit-transform:perspective(400px) rotateX(90deg);
		animation-timing-function:ease-in;
		opacity:0;
		transform:perspective(400px) rotateX(90deg)
	}
	40%{
		-webkit-animation-timing-function:ease-in;
		-webkit-transform:perspective(400px) rotateX(-20deg);
		animation-timing-function:ease-in;
		transform:perspective(400px) rotateX(-20deg)
	}
	60%{
		-webkit-transform:perspective(400px) rotateX(10deg);
		opacity:1;
		transform:perspective(400px) rotateX(10deg)
	}
	80%{
		-webkit-transform:perspective(400px) rotateX(-5deg);
		transform:perspective(400px) rotateX(-5deg)
	}
	to{
		-webkit-transform:perspective(400px);
		transform:perspective(400px)
	}
}
@keyframes flipInX {
	0%{
		-webkit-animation-timing-function:ease-in;
		-webkit-transform:perspective(400px) rotateX(90deg);
		animation-timing-function:ease-in;
		opacity:0;
		transform:perspective(400px) rotateX(90deg)
	}
	40%{
		-webkit-animation-timing-function:ease-in;
		-webkit-transform:perspective(400px) rotateX(-20deg);
		animation-timing-function:ease-in;
		transform:perspective(400px) rotateX(-20deg)
	}
	60%{
		-webkit-transform:perspective(400px) rotateX(10deg);
		opacity:1;
		transform:perspective(400px) rotateX(10deg)
	}
	80%{
		-webkit-transform:perspective(400px) rotateX(-5deg);
		transform:perspective(400px) rotateX(-5deg)
	}
	to{
		-webkit-transform:perspective(400px);
		transform:perspective(400px)
	}
}
.banner .page-btn {
	position: relative;
	bottom: 0;

	box-shadow: none;
	border: 2px solid rgba(255, 255, 255, .1);
	transition: all .8s ease;
	transform: scale(.9);
}
.banner .page-btn:hover {
	color: #333;
	background: #ccc;
	border: 2px solid transparent;
	box-shadow: 0 0 5px 1px rgba(255, 255, 255, .3);
	transform: scale(1);
}
.swiper-slide-prev .page-btn {
	bottom: 180px;
}

.img-pieces {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: stretch;

	padding-bottom: 40px;
}
.img-piece {
	position: relative;
	bottom: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	border-right: 1px solid #333;
	cursor: pointer;
	transition: all .8s ease;
	transform: skew(-15deg);
	overflow: hidden;
}
.piece-img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -20px;
	left: -20px;
	background-position: center center;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	transform: skew(15deg);
}
.swiper-slide-next .img-piece {
	bottom: 20px;
}
.img-piece:last-of-type {
	border-right: 0 none;
}
.img-piece:hover {
	flex: 3;
}
.piece-info {
	position: relative;
	z-index: 2;
	display: block;
	padding: 20px;
	margin: 0 20px;
	color: transparent;
	background: transparent;
	opacity: 0;
	transition: opacity .4s ease;
	transition-delay: .6s;
	transform: skew(15deg);
}
.img-piece:hover .piece-info {
	opacity: 1;
	color: #fff;
	background: rgba(0, 0, 0, .5);
}

.intro-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;

	padding-right: 50px;
	padding-bottom: 0;
}

.intro-cards {
	flex: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 750px;
	padding-left: 40px;
}
.intro-card {
	margin-bottom: 2vw;
}
.intro-card-title {
	position: relative;
	left: 60px;
	font-size: 24px;
	font-weight: 400;
	line-height: 2;
	color: #fff;
	transition: left .6s ease;
}
.intro-card-content {
	position: relative;
	left: 60px;
	font-size: 16px;
	line-height: 32px;
	color: #8a8a8a;
	transition: left .8s ease;
}
.intro-card .page-btn {
	display: inline-block;
	width: auto;
	padding: 0 2em;
	font-size: 13px;
}
.intro-card .page-btn:first-of-type {
	margin-right: 1em;
}
.intro-card:nth-of-type(2) .intro-card-title {
	transition-duration: 1.2s;
}
.intro-card:nth-of-type(2) .intro-card-content {
	transition-duration: 1.4s;
}
.intro-card:nth-of-type(3) .intro-card-title {
	transition-duration: 1.8s;
}
.intro-card:nth-of-type(3) .intro-card-content {
	transition-duration: 2s;
}
.swiper-slide-active .intro-card-title,
.swiper-slide-active .intro-card-content {
	left: 0;
}

.index-swiper {
	position: relative;
	bottom: 36px;
	float: right;
	max-width: 40vw;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
	overflow: hidden;
}
.swiper-button-next,
.swiper-button-prev {
	margin-top: 0;
	background-size: 18px auto;
}
.swiper-button-next {
	right: 50px;
	background-image: url('../img/arrow-right.png');
}
.swiper-button-prev {
	left: 50px;
	background-image: url('../img/arrow-left.png');
}
.index-swiper img {
	display: block;
	height: 100%;
	margin: auto;
}

.project {
	padding: 180px 200px 400px;
	background: url('../img/footer-bg.png') center bottom no-repeat;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
.project-logo {
	display: block;
	height: 92px;
	margin: 0 auto 180px;
}
.project-blocks {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: flex-start;

	font-size: 16px;
	line-height: 2.5em;
	color: #c8c8c8;
}
.project-block {
	position: relative;
	padding: 0 80px;
}
.project-block::before {
	content: '\0020';
	position: absolute;
	top: 28px;
	right: 0;
	height: 106px;
	border-right: 1px solid #d7d7d7;
}
.project-block:last-of-type::before {
	border-right: 1px solid transparent;
}
.project-block > p {
	padding-left: 5em;
	text-indent: -5em;
}
.project-qrcode {
	padding: 0 10px;
	text-align: center;
}
.project-qrcode img {
	min-width: 60px;
}
