.main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	height: 100vh;
}
.news {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px;
	font-size: 26px;
	font-weight: 100;
	line-height: 40px;
	letter-spacing: .2em;
}
.news-name {
	font-size: 60px;
	font-weight: 700;
	line-height: 140px;
}
.pagination.swiper-pagination-bullets {
	display: flex;
	flex-direction: row;
	justify-content: center;

	width: auto;
	left: auto;
	right: 100px;
	bottom: 100px;
}
.pagination.swiper-pagination-bullets .swiper-pagination-bullet {
	width: auto;
	height: 1em;
	font-size: 16px;
	margin-right: 40px;
	background: transparent;
}
footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}
