.main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	height: 100vh;
}
.one-news {
	position: absolute;
	width: 260px;
	height: 236px;
	margin: -118px -130px;
	transform: translate(0, 0);
}
.one-news.news-1 {
	top: 44vh;
	left: 21vw;
}
.one-news.news-2 {
	top: 75vh;
	left: 50vw;
}
.one-news.news-3 {
	top: 35vh;
	left: 76vw;
}
.one-news:hover {
	animation: ico_animate 1s linear infinite;
}
@keyframes ico_animate {
	0% {
		transform: translate(0, 0);
	}
	30% {
		transform: translate(0, 2%);
	}
	70% {
		transform: translate(0, -2%);
	}
	100% {
		transform: translate(0, 0);
	}
}
.news-board {
	width: 100%;
	height: 100%;
	padding: 20px;
	color: #fff;
	background: #242424;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, .3);
}
.news-subtitle {
	font-size: 16px;
	color: #999;
}
.news-title {
	display: block;
	width: 80%;
	padding: 1em 0;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: .2em;
}
.news-index {
	position: absolute;
	top: 50%;
	right: 30%;
	left: 0;
	bottom: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	overflow: hidden;
	padding-top: 20px;
	padding-left: 25px;
	font-size: 16px;
	letter-spacing: .2em;
	color: transparent;
	transition: color .3s ease;
}
.one-news:hover .news-index {
	color: #fff;
}
.news-index::before {
	content: '\0020';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-position: center top;
	-webkit-background-size: 150% auto;
	background-size: 150% auto;
	opacity: 1;
	transition: opacity .3s ease;
}
.news-1 .news-index::before {
	background-image: url('../img/news-01.png');
}
.news-2 .news-index::before {
	background-image: url('../img/news-02.png');
}
.news-3 .news-index::before {
	background-image: url('../img/news-03.png');
}
.one-news:hover .news-index::before {
	opacity: .3;
}
.news-index::after {
	content: '→';
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: 8px;
	text-indent: -4px;
	border-radius: 50%;
	vertical-align: middle;
	line-height: 19px;
	background-color: transparent;
	transition: opacity .1s ease;
	opacity: 0;
}
.news-1 .news-index::after {
	background-color: #736267;
}
.news-2 .news-index::after {
	background-color: #53536e;
}
.news-3 .news-index::after {
	background-color: #696d74;
}
.one-news:hover .news-index::after {
	opacity: 1;
}
.news-ico {
	position: absolute;
	top: 50%;
	left: 80%;
	transform: translate(0, -50%);
}
