.order-board {
	margin: 0 200px;
	padding: 20px 60px;
	font-weight: 100;
	box-shadow: 0 0 8px #111;
}
.cart-item {
	height: auto;
	padding: 1em 0;
}
.item-info .item-name {
	font-weight: 700;
}
.item-info img {
	max-width: 100px;
	max-height: 100px;
}
.cart-tit:first-of-type {
	text-align: left;
}
.item-rewards {
	color: #5b5b5b;
}
.order-address {
	font-size: 16px;
	padding: 15px 30px;
	line-height: 1.5;
}
.order-total {
	padding: 0 30px;
	font-size: 18px;
}
.order-total-price {
	float: right;
	font-weight: 400;
}

.delivery-progress {
	position: relative;
	padding: 30px 70px;
	margin: 0 200px;
	/* -webkit-background-size: 30px auto; */
	/* background-size: 30px auto; */
	/* background-position: 20px center; */
	/* background-repeat: no-repeat; */
	/* background-image: url('../img/receive-progress.png'); */
}
.delivery-progress::before {
	content: '\0020';
	position: absolute;
	top: 56px;
	bottom: 56px;
	left: 35px;
	border-left: 1px solid #434343;
}
.delivery-progress li {
	position: relative;
}
.delivery-progress li::before {
	content: '\0020';
	position: absolute;
	top: 17px;
	left: -45px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #535353;
}
.delivery-progress li:last-of-type::before {
	left: -50px;
	width: 30px;
	height: 30px;
	background: #242424;
	border: 5px solid #b5b5b5;
}
.delivery-progress span {
	display: inline-block;
	font-size: 16px;
	line-height: 53px;
	text-align: center;
	vertical-align: top;
}
.delivery-progress .date {
	width: 180px;
}
.delivery-progress .week {
	width: 90px;
}
.delivery-progress .time {
	width: 100px;
}
.delivery-progress .progress {
	position: relative;
	text-align: left;
}

.receive-or-reject {
	margin: 30px 200px;
	font-size: 18px;
	line-height: 2.2;
	color: #000;
	text-align: right;
}
.receive-or-reject .reject {
	margin-right: 30px;
	line-height: 2.4;
	color: #acacac;
}


.address-layer {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .6);
	opacity: 0;
	pointer-events: none;
	transition: opacity .2s ease;
}
.show-layer {
	pointer-events: auto;
	opacity: 1;
}
.address-block {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 480px;
	padding: 30px;
	margin: 0 -240px;
	font-weight: 100;
	line-height: 42px;
	color: #acacac;
	text-align: center;
	background: #242424;
	transform: translate(0, -50%);
}
.address-element {
	display: block;
	margin-bottom: 24px;
}
.address-element span {
	float: left;
	width: 100px;
	text-align: center;
}
.address-element input,
.address-element select,
.address-element textarea {
	width: 270px;
	padding: 10px;
	height: 42px;
	font-size: inherit;
	color: #fff;
	border: 1px solid #b4b4b4;
	border-radius: 8px;
	background: transparent;
}
.address-element option {
	color: #333;
	background: transparent;
}
.address-element textarea {
	height: 80px;
}
.address-block .buy-btn {
	float: none;
	display: inline-block;
	margin: auto;
	color: #acacac;
	border: 0 none;
	background: #313131;
}
.close-lay-icon {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 12px;
}
.close-lay-icon img {
	display: block;
}

.reject-row {
	font-weight: 700;
	color: #ff9333;
}
.rejecting {
	color: #ff9933;
	border-radius: 5px;
	background: transparent;
	border: 1px solid currentcolor;
}
.my-comment {
	margin: 0 200px;
}
.my-comment-tag,
.my-comment-tag img {
	width: 100%;
}
.my-comment p {
	position: relative;
	bottom: 4px;
	padding: 8px 0;
}
.my-comment textarea {
	width: 100%;
	height: 100px;
	font-size: 16px;
	color: #fff;
	border: 1px solid #434343;
	border-radius: 5px;
	background: transparent;
}
.my-comment .receive-or-reject {
	position: relative;
	top: 10px;
	margin: 0;
}
