.main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	padding-left: 100px;
	padding-bottom: 50px;
}
.swiper-container {
	width: 100%;
	height: 400px;
	padding: 0 50px;
}
.swiper-button-next,
.swiper-button-prev {
	top: 0;
	width: 24px;
	height: 100%;
	margin: 0;
	-webkit-background-size: 12px auto;
	background-size: 12px auto;
	outline: none;
}
.swiper-button-next {
	background-image: url('../img/preview-next.png');
}
.swiper-button-prev {
	background-image: url('../img/preview-prev.png');
}
.one-commodity {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
    align-self: stretch;
	background-image: url(../img/circle-base.png);
	background-position: center bottom 20px;
	-webkit-background-size: 250px auto;
	background-size: 250px auto;
	background-repeat: no-repeat;
	cursor: pointer;
}
.one-commodity img {
	position: relative;
	transform: translate(0, -10%);
}
.one-commodity:nth-of-type(1) img {
	top: 26px;
	right: 5px;
}
.one-commodity:nth-of-type(4) img {
	top: 30px;
	left: 20px;
}
.one-commodity:nth-of-type(5) img {
	top: 40px;
	right: 10px;
}
.one-commodity:hover img {
	animation: ico_animate 1s linear infinite;
}
@keyframes ico_animate {
	0% {
		transform: translate(0, -10%);
	}
	25% {
		transform: translate(0, -15%);
	}
	75% {
		transform: translate(0, -5%);
	}
	100% {
		transform: translate(0, -10%);
	}
}
.commodity-name {
	position: relative;
	z-index: 2;
	bottom: 30px;
	width: 1em;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 2vw;
	line-height: 2.5;
	opacity: 0;
	transition: opacity .5s ease;
}
.one-commodity:hover .commodity-name {
	opacity: 1;
}
.commodity-name::before {
	content: '\0020';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 50px;
	height: 50px;
	border: 1px solid #ececec;
	border-radius: 50%;
	background-image: url('../img/link-ico.png');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: 50% auto;
	background-size: 50% auto;

	transform: translate(-50%, 100px);
}
