.main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: stretch;

    padding-bottom: 50px;
}
.one-commodity {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15%;
	color: #fff;
	box-shadow: 0 0 30px 1px #000;
}
.commodity-name {
	position: relative;
	z-index: 2;
	display: block;
	width: 1em;
	font-size: 2vw;
	line-height: 2.5;
	opacity: 0;
	transition: opacity .5s ease;
}
.one-commodity::before,
.one-commodity::after {
	content: '\0020';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #242424;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	transition: all .5s ease;
}
.one-commodity::before {
	opacity: 1;
	transform: translate(0, 0);
}
.one-commodity::after {
	opacity: 0;
	transform: translate(5px, 5px);
}
.one-commodity:nth-of-type(1)::before {
	background-image: url('../img/bg-1.png');
}
.one-commodity:nth-of-type(2)::before {
	background-image: url('../img/bg-2.png');
}
.one-commodity:nth-of-type(3)::before {
	background-image: url('../img/bg-3.png');
}
.one-commodity:nth-of-type(4)::before {
	background-image: url('../img/bg-4.png');
}
.one-commodity:nth-of-type(5)::before {
	background-image: url('../img/bg-5.png');
}
.one-commodity:nth-of-type(1)::after {
	background-image: url('../img/commodity-1.png');
}
.one-commodity:nth-of-type(2)::after {
	background-image: url('../img/commodity-2.png');
}
.one-commodity:nth-of-type(3)::after {
	background-image: url('../img/commodity-3.png');
}
.one-commodity:nth-of-type(4)::after {
	background-image: url('../img/commodity-5.png');
}
.one-commodity:nth-of-type(5)::after {
	background-image: url('../img/commodity-4.png');
}

.one-commodity:hover::before {
	opacity: 0;
	transform: translate(-5px, -5px);
}
.one-commodity:hover::after {
	opacity: .5;
	transform: translate(0, 0);
}
.one-commodity:hover .commodity-name {
	opacity: 1;
}