.main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: flex-start;
}
.commodity {
	align-self: stretch;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.preview {
	width: calc(100vh - 320px);
	height: calc(100vh - 320px);
	max-width: 37.5vw;
	max-height: 37.5vw;
}
.commodity-intro {
	flex: 1;
	align-self: stretch;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding-right: 100px;
	font-size: 16px;
	letter-spacing: .2em;
	font-weight: 100;
	text-align: right;
	color: #acacac;
}
.commodity-intro::before {
	content: '\0020';
	display: block;
	height: 2px;
	border-right: 136px solid #b4b4b4;
}
.commodity-name {
	font-size: 32px;
}
.view-commodity {
	color: #acacac;
}
.view-commodity:hover {
	text-decoration: underline;
}
.commodity-id {
	margin-top: 1em;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0;
	border-bottom: 2px solid #b4b4b4;
}

@media (max-width: 1440px) {
	.commodity {
		padding: 20px;
		background: #1b1b1b;
		margin-bottom: 15px;
		border-radius: 6px;
	}
	.commodity-name {
		font-size: 24px;
	}
	.commodity-intro {
		padding-right: 40px;
	}
}

@media (max-width: 720px) {
	.main {
		padding-top: 80px;
		padding-bottom: 0;
	}
	.preview {
		width: auto;
		height: auto;
		max-width: 40vw;
		max-height: 40vw;
		margin: 0 -8vw 0 -2vw;
	}
	.commodity-intro {
		padding-right: 0;
		font-size: 12px;
		letter-spacing: 0;
	}
	.commodity-intro::before {
		height: 1px;
		border-right: 40px solid #999;
	}
	.commodity-name {
		font-size: 16px;
	}
	.commodity-id {
		display: none;
	}
	.buy-btn {
		font-size: 12px;
	}
}
